.center {
  @apply flex flex-col items-center justify-center;
}

.align::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 10000;
  pointer-events: none;
  /* three thin vertical lines at 25%, 50% and 75% to split into quarters */
  background-image: linear-gradient(
      to right,
      transparent calc(25% - 0.5px),
      red calc(25% - 0.5px) calc(25% + 0.5px),
      transparent calc(25% + 0.5px)
    ),
    linear-gradient(
      to right,
      transparent calc(50% - 0.5px),
      red calc(50% - 0.5px) calc(50% + 0.5px),
      transparent calc(50% + 0.5px)
    ),
    linear-gradient(
      to right,
      transparent calc(75% - 0.5px),
      red calc(75% - 0.5px) calc(75% + 0.5px),
      transparent calc(75% + 0.5px)
    );
  background-repeat: no-repeat;
}

.align::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 10000;
  pointer-events: none;
  /* three thin horizontal lines at 25%, 50% and 75% to split into quarters */
  background-image: linear-gradient(
      to bottom,
      transparent calc(25% - 0.5px),
      red calc(25% - 0.5px) calc(25% + 0.5px),
      transparent calc(25% + 0.5px)
    ),
    linear-gradient(
      to bottom,
      transparent calc(50% - 0.5px),
      red calc(50% - 0.5px) calc(50% + 0.5px),
      transparent calc(50% + 0.5px)
    ),
    linear-gradient(
      to bottom,
      transparent calc(75% - 0.5px),
      red calc(75% - 0.5px) calc(75% + 0.5px),
      transparent calc(75% + 0.5px)
    );
  background-repeat: no-repeat;
}
