@import "@/shadcn.tailwind.css";

* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bento-grid {
  --cols: 4;
  --gap: 24px;
  gap: var(--gap);
  grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
  grid-auto-rows: var(--cell);
  max-width: calc(1000px + ((var(--cols) - 1) * var(--gap)));
}

@media (max-width: 1072px) {
  .bento-grid {
    --cols: 2;
    max-width: 40rem;
  }
}

@media (max-width: 40rem) {
  .bento-grid {
    /* --cols: 2; */
    --gap: 16px;
    /* max-width: 640px; */
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabinet Grotesk", sans-serif;
}

h2 {
  /* px-3 py-1 text-sm rounded-full bg-primary text-primary-foreground w-fit; */
  font-weight: 600;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
  border-radius: 1rem;
  background-color: var(--primary);
  color: var(--primary-foreground);
  width: fit-content;
}
